#testimonials {
    position: relative;
}
.testimonialTitle {
    font-weight: bolder;
    color: white;
    font-size: x-large;
}

.testimonialTitle::after{
    content: '';
    border: 2px solid white;
    position: absolute;
    height: 5rem;
    width: 15rem;
    left: 41%;
    top: 0;
    background-color:  rgba(114, 47, 55, 0.5);
    z-index: -1;
}

.container.testimonials_container {
    width: 40%;
    font-size: x-large;
}

.client_avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}

.testimonial {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    user-select: none;
}

.client_review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .container.testimonials_container {
        width: 60%;
    }
}
    /* MEDIA QUERIES (SMALL DEVICES) */
    @media screen and (max-width: 600px) {
        .container.container.testimonials_container {
            width: var(--container-width-sm);
        }

        .client_review {
            width: var(--container-width-sm);
        }
    }