header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
    font-size: x-large;
}

.container-title::after {
    content: '';
    border: 2px solid white;
    height: 11rem;
    width: 25rem;
    position: absolute;
    top: 0;
    left: 30%;
    background-color:  rgba(114, 47, 55, 0.5);
    
}

/* CTA */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center0;
}

/* Header socials */

.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    bottom: 3rem;
    left: 0;
}

.header_socials::after {
    content: "";
    width: 10px;
    height: 2rem;
    background: var(--color-primary);
}

.header_socials a {
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
}

/* ME */
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    -webkit-border-radius: 12rem 12rem 0 0;
    -moz-border-radius: 12rem 12rem 0 0;
    -ms-border-radius: 12rem 12rem 0 0;
    -o-border-radius: 12rem 12rem 0 0;
    overflow: hidden;
}

/* scroll down */
.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    font-weight: 300;
    font-size: 2.5rem;
    background: var();
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header_socials,
    .scroll_down {
        display: none;
    }
}
